@charset "UTF-8";

      *{
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        ::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        img{
            width: 100vw;
        }
        a{
            display: block;
            background-color: rgb(56, 55, 55);
            padding: 15px;
            text-align: center;
            font-weight: bolder;
            text-decoration: none;
            color: white;
            transition: 0.8s;
        }
        